#pending {
    margin:85px 10px;

}

.heading {
    color: #ed2228;
    font-weight:bold;
    font-size:20px;
    margin:10px 0;
}

.showItem{
    font-size:19px;
    color:grey;
}

.check-out {
    margin-top: 30px;
    font-size: 18px;
    padding: 8px 40px 8px 40px;
    color: white;
    background: #ed2228;
    border-radius:20px 20px;
}